qemu-system-x86_64 -bios /usr/share/ovmf/OVMF.fd -display gtk,gl=es -drive format=raw,file=/home/usuario/Downloads/thoriumos_M120_v2/thoriumos_image.bin -m 4G -enable-kvm -cpu host -device virtio-vga-gl -display sdl,gl=on -net nic,model=virtio -net user,hostfwd=tcp:127.0.0.1:9222-:22 -usb -usbdevice keyboard -usbdevice mouse -device intel-hda -device hda-duplex


qemu-system-x86_64 -bios /usr/share/ovmf/OVMF.fd -M q35 -display gtk,gl=es,show-cursor=on -drive format=raw,file=/home/usuario/Downloads/thoriumos_M120_v2/thoriumos_image.bin -m 4G -enable-kvm -cpu host -device virtio-vga-gl -net nic,model=virtio -net user,hostfwd=tcp:127.0.0.1:9222-:22 -usb -device usb-tablet -object memory-backend-memfd,id=mem1,size=4G -machine memory-backend=mem1 -d guest_errors -device intel-hda -device hda-duplex
