# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# This GUID corresponds to the UEFI KEK entry for "Microsoft Corporation
# KEK CA 2011".
# For more info on how the GUID is constructed, see:
# https://github.com/fwupd/fwupd/blob/HEAD/plugins/uefi-dbx/README.md
DEVPATH=="/devices/platform/efivars.0", \
ACTION=="add", \
RUN+="/sbin/initctl emit fwupdtool-update PLUGIN=uefi_dbx GUID=c6682ade-b5ec-57c4-b687-676351208742"
