# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# This file overrides the default Power Save Mode setting in 98-powerknobs.rules for certain devices

# Explicitly disable WiFi Power Save Mode on the Surface Pro 3. b/188733232
ACTION=="add|change", SUBSYSTEM=="net", TEST=="phy80211", ATTR{[dmi/id]modalias}=="dmi:*pnSurfacePro3*", RUN+="/usr/sbin/iw dev %k set power_save off"

# Disable Power Save Mode for all Ralink wifi devices [0x1814].
# 0x1814:0x539a b/188699537
# 0x1814:0x5392 b/188792374
ACTION=="add|change", SUBSYSTEM=="net", TEST=="phy80211", ATTRS{vendor}=="0x1814", RUN+="/usr/sbin/iw dev %k set power_save off"

# Disable Power Save Mode for Realtek RTL8821ce wifi devices. b/188758367
ACTION=="add|change", SUBSYSTEM=="net", TEST=="phy80211", ATTRS{driver}=="rtl8821ce", RUN+="/usr/sbin/iw dev %k set power_save off"
